<div id="carouselExampleFade" class="carousel slide carousel-fade mb-4" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleFade" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleFade" data-slide-to="1"></li>
    <li data-target="#carouselExampleFade" data-slide-to="2"></li>
    <li data-target="#carouselExampleFade" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner opacity-1">
    <!-- Primer slide del carousel -->
    <div class="carousel-item active" data-interval="3000">
      <img src="/assets/images/amanda-black-poster.jpg" class="d-block w-100 img-fluid" style="object-fit: cover; height: 100%;" alt="amanda-black-poster">
    </div>
    <!-- Segundo slide del carousel -->
    <div class="carousel-item" data-interval="3000">
      <img src="/assets/images/Wingfeather.png" class="d-block w-100 img-fluid" style="object-fit: cover; height: 100%;" alt="Wingfeather-poster">
    </div>
    <!-- Tercer slide del carousel -->
    <div class="carousel-item" data-interval="3000">
      <img src="/assets/images/libros-terror-banner.jpg" class="d-block w-100 img-fluid opacity-100" style="object-fit: cover; height: 100%;" alt="libros-terror-poster">
    </div>
    <!-- Cuarto slide del carousel -->
    <div class="carousel-item" data-interval="3000">
      <img src="/assets/images/al-final-mueren-los-dos-banner.jpg" class="d-block w-100 img-fluid" style="object-fit: cover; height: 100%;" alt="al-final-mueren-los-dos-poster">
    </div>

    <!-- Quinto carrusel -->
    <div class="carousel-item" data-interval="3000">
      <img src="/assets/images/3.jpg" class="d-block w-100 img-fluid" style="object-fit: cover; height: 100%;" alt="banner">
    </div>
    <!--Sexto carrusel  -->
    <div class="carousel-item" data-interval="3000">
      <img src="/assets/images/4.jpg" class="d-block w-100 img-fluid" style="object-fit: cover; height: 100%;" alt="banner">
    </div>
  </div>
  <!-- Botón para ir al slide anterior -->
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleFade" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </button>
  <!-- Botón para ir al siguiente slide -->
  <button class="carousel-control-next" type="button" data-target="#carouselExampleFade" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </button>
</div>

